USE [master]
GO
/****** Object:  Database [ХранительПРО]    Script Date: 15.04.2024 16:25:14 ******/
CREATE DATABASE [ХранительПРО]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ХранительПРО', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ХранительПРО.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ХранительПРО_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ХранительПРО_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ХранительПРО].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ХранительПРО]
GO
/****** Object:  Table [dbo].[Данные_Авторизации]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Данные_Авторизации](
	[ID_Данных] [int] NOT NULL,
	[Логин] [nvarchar](100) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Шифрование] [nvarchar](100) NULL,
	[Роль] [int] NULL,
 CONSTRAINT [PK_Данные_Авторизации] PRIMARY KEY CLUSTERED 
(
	[ID_Данных] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявка]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[ID_Заявки] [int] NOT NULL,
	[ID_Посетителя] [int] NOT NULL,
	[Дата_подачи] [date] NOT NULL,
	[Желаемый_срок_начала_действия_заявки] [date] NOT NULL,
	[Желаемый_срок_окончания_действия_заявки] [date] NOT NULL,
	[Групповая_запись] [bit] NOT NULL,
	[ID_Списка] [int] NULL,
	[Статус_заявки] [nvarchar](50) NOT NULL,
	[Ответсвенное_подразделение] [int] NOT NULL,
 CONSTRAINT [PK_Заявка] PRIMARY KEY CLUSTERED 
(
	[ID_Заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подразделение]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделение](
	[ID_Подразделения] [int] NOT NULL,
	[Название_подразделения] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Подразделение] PRIMARY KEY CLUSTERED 
(
	[ID_Подразделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посетитель]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посетитель](
	[ID_Посетителя] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Телефон] [char](20) NOT NULL,
	[Почта] [nvarchar](100) NOT NULL,
	[Организация] [nvarchar](50) NULL,
	[Примечание] [nvarchar](50) NULL,
	[Дата_рождения] [date] NOT NULL,
	[Серия_паспорта] [int] NOT NULL,
	[Номер_паспорта] [int] NOT NULL,
	[Фотография_посетителя] [varbinary](max) NULL,
	[Скан_паспорта] [varbinary](max) NULL,
	[ID_Авторизации] [int] NULL,
 CONSTRAINT [PK_Посетитель] PRIMARY KEY CLUSTERED 
(
	[ID_Посетителя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посетитель_Заявка]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посетитель_Заявка](
	[ID_Список] [int] NOT NULL,
	[ID_Посетителя] [int] NOT NULL,
 CONSTRAINT [PK_Посетитель_Заявка] PRIMARY KEY CLUSTERED 
(
	[ID_Посетителя] ASC,
	[ID_Список] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID_Роли] [int] NOT NULL,
	[Название_роли] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[ID_Роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 15.04.2024 16:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[ID_Сотруника] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[ID_Подразделения] [int] NOT NULL,
	[Отдел] [nvarchar](50) NULL,
	[ID_Авторизации] [int] NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[ID_Сотруника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Данные_Авторизации] ([ID_Данных], [Логин], [Пароль], [Шифрование], [Роль]) VALUES (1, N'Vlas86', N'b3uWS6#Thuvq', NULL, 1)
INSERT [dbo].[Данные_Авторизации] ([ID_Данных], [Логин], [Пароль], [Шифрование], [Роль]) VALUES (2, N'Prohor156', N'zDdom}SIhWs?', NULL, 1)
INSERT [dbo].[Данные_Авторизации] ([ID_Данных], [Логин], [Пароль], [Шифрование], [Роль]) VALUES (3, N'YUrin155', N'u@m*~ACBCqNQ', NULL, 1)
GO
INSERT [dbo].[Заявка] ([ID_Заявки], [ID_Посетителя], [Дата_подачи], [Желаемый_срок_начала_действия_заявки], [Желаемый_срок_окончания_действия_заявки], [Групповая_запись], [ID_Списка], [Статус_заявки], [Ответсвенное_подразделение]) VALUES (1, 1, CAST(N'2024-04-15' AS Date), CAST(N'2024-04-16' AS Date), CAST(N'2024-04-20' AS Date), 0, NULL, N'Проверка', 1)
INSERT [dbo].[Заявка] ([ID_Заявки], [ID_Посетителя], [Дата_подачи], [Желаемый_срок_начала_действия_заявки], [Желаемый_срок_окончания_действия_заявки], [Групповая_запись], [ID_Списка], [Статус_заявки], [Ответсвенное_подразделение]) VALUES (2, 2, CAST(N'2024-04-16' AS Date), CAST(N'2024-04-17' AS Date), CAST(N'2024-04-21' AS Date), 0, NULL, N'Проверка', 1)
INSERT [dbo].[Заявка] ([ID_Заявки], [ID_Посетителя], [Дата_подачи], [Желаемый_срок_начала_действия_заявки], [Желаемый_срок_окончания_действия_заявки], [Групповая_запись], [ID_Списка], [Статус_заявки], [Ответсвенное_подразделение]) VALUES (3, 3, CAST(N'2024-04-16' AS Date), CAST(N'2024-04-18' AS Date), CAST(N'2024-04-25' AS Date), 1, 1, N'Проверка', 1)
GO
INSERT [dbo].[Подразделение] ([ID_Подразделения], [Название_подразделения]) VALUES (1, N'Производство')
INSERT [dbo].[Подразделение] ([ID_Подразделения], [Название_подразделения]) VALUES (2, N'Сбыт')
INSERT [dbo].[Подразделение] ([ID_Подразделения], [Название_подразделения]) VALUES (3, N'Администрация')
GO
INSERT [dbo].[Посетитель] ([ID_Посетителя], [Фамилия], [Имя], [Отчество], [Телефон], [Почта], [Организация], [Примечание], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Фотография_посетителя], [Скан_паспорта], [ID_Авторизации]) VALUES (1, N'Степанова', N'Радинка', N'Власовна', N'+7 (613) 272-60-62  ', N'Radinka100@yandex.ru', N'ВТБ', N'Сотрудник банка', CAST(N'1986-10-18' AS Date), 1208, 530509, NULL, NULL, 1)
INSERT [dbo].[Посетитель] ([ID_Посетителя], [Фамилия], [Имя], [Отчество], [Телефон], [Почта], [Организация], [Примечание], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Фотография_посетителя], [Скан_паспорта], [ID_Авторизации]) VALUES (2, N'Шилов', N'Прохор', N'Герасимович', N'+7 (615) 594-77-66  ', N'Prohor156@list.ru', N'СБЕРБАНК', N'Сотрудник банка', CAST(N'1977-10-09' AS Date), 3036, 796488, NULL, NULL, 2)
INSERT [dbo].[Посетитель] ([ID_Посетителя], [Фамилия], [Имя], [Отчество], [Телефон], [Почта], [Организация], [Примечание], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Фотография_посетителя], [Скан_паспорта], [ID_Авторизации]) VALUES (3, N'Кононов', N'Юрин', N'Романович', N'+7 (784) 673-51-91  ', N'YUrin155@gmail.com', N'ТИНЬКОФФ', N'Сотрудник банка', CAST(N'1971-10-08' AS Date), 2747, 790512, NULL, NULL, 3)
GO
INSERT [dbo].[Посетитель_Заявка] ([ID_Список], [ID_Посетителя]) VALUES (1, 10)
INSERT [dbo].[Посетитель_Заявка] ([ID_Список], [ID_Посетителя]) VALUES (1, 11)
INSERT [dbo].[Посетитель_Заявка] ([ID_Список], [ID_Посетителя]) VALUES (1, 12)
GO
INSERT [dbo].[Роли] ([ID_Роли], [Название_роли]) VALUES (1, N'Посетитель')
INSERT [dbo].[Роли] ([ID_Роли], [Название_роли]) VALUES (2, N'Сотрудник')
GO
INSERT [dbo].[Сотрудник] ([ID_Сотруника], [Фамилия], [Имя], [Отчество], [ID_Подразделения], [Отдел], [ID_Авторизации]) VALUES (1, N'Фомичева', N'Авдотья', N'Трофимовна', 1, N'-', 16)
INSERT [dbo].[Сотрудник] ([ID_Сотруника], [Фамилия], [Имя], [Отчество], [ID_Подразделения], [Отдел], [ID_Авторизации]) VALUES (2, N'Гаврилова', N'Римма', N'Ефимовна', 2, N'-', 17)
INSERT [dbo].[Сотрудник] ([ID_Сотруника], [Фамилия], [Имя], [Отчество], [ID_Подразделения], [Отдел], [ID_Авторизации]) VALUES (3, N'Носкова', N'Наталия', N'Прохоровна', 3, N'-', 18)
GO
ALTER TABLE [dbo].[Данные_Авторизации]  WITH CHECK ADD  CONSTRAINT [FK_Данные_Авторизации_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([ID_Роли])
GO
ALTER TABLE [dbo].[Данные_Авторизации] CHECK CONSTRAINT [FK_Данные_Авторизации_Роли]
GO
ALTER TABLE [dbo].[Посетитель]  WITH CHECK ADD  CONSTRAINT [FK_Посетитель_Данные_Авторизации] FOREIGN KEY([ID_Авторизации])
REFERENCES [dbo].[Данные_Авторизации] ([ID_Данных])
GO
ALTER TABLE [dbo].[Посетитель] CHECK CONSTRAINT [FK_Посетитель_Данные_Авторизации]
GO
ALTER TABLE [dbo].[Посетитель_Заявка]  WITH CHECK ADD  CONSTRAINT [FK_Посетитель_Заявка_Заявка] FOREIGN KEY([ID_Список])
REFERENCES [dbo].[Заявка] ([ID_Заявки])
GO
ALTER TABLE [dbo].[Посетитель_Заявка] CHECK CONSTRAINT [FK_Посетитель_Заявка_Заявка]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Данные_Авторизации] FOREIGN KEY([ID_Авторизации])
REFERENCES [dbo].[Данные_Авторизации] ([ID_Данных])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Данные_Авторизации]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Подразделение] FOREIGN KEY([ID_Подразделения])
REFERENCES [dbo].[Подразделение] ([ID_Подразделения])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Подразделение]
GO
USE [master]
GO
